body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #667eea, #764ba2);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: white;
    padding: 40px;
    border-radius: 10px;
    width: 320px;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.2);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background: #667eea;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #5a67d8;
}

a {
    display: block;
    text-align: center;
    margin-top: 15px;
    text-decoration: none;
    color: #667eea;
}

body{
    background:#f5f7fb;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.navbar{
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

.navbar-brand{
    font-weight:bold;
    font-size:22px;
}

.main-container{
    max-width:900px;
    margin:40px auto;
    padding:20px;
}


.page-title{
    font-weight:bold;
    margin-bottom:25px;
}


.create-btn{
    margin-bottom:20px;
}


.diary-card{
    background:white;
    border-radius:10px;
    padding:15px;
    margin-bottom:15px;
    box-shadow:0px 3px 8px rgba(0,0,0,0.08);
    transition:0.2s;
}

.diary-card:hover{
    transform:translateY(-2px);
    box-shadow:0px 5px 12px rgba(0,0,0,0.12);
}

.diary-title{
    font-weight:600;
    font-size:18px;
}


.sentiment-positive{
    background:#d4edda;
    color:#155724;
    padding:4px 10px;
    border-radius:20px;
    font-size:12px;
}

.sentiment-negative{
    background:#f8d7da;
    color:#721c24;
    padding:4px 10px;
    border-radius:20px;
    font-size:12px;
}


.logout-btn a{
    color:white;
    text-decoration:none;
}


.form-container{
    max-width:700px;
    margin:40px auto;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0px 3px 10px rgba(0,0,0,0.1);
}

textarea{
    resize:none;
}